.modal {
  height: 85%;
  width: 88%;
  max-width: 1100px;

  background: var(--base-violet-20);
  border-radius: 5rem;
  border: none;
  margin: 50px auto;
  color: var(--text-light);
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

.close_button {
  position: absolute;
  right: 25px;
  top: 25px;
  cursor: pointer;
}
