/* 전체 섹션 스타일 */
.section_container {
  min-width: 380px;
  padding: 8rem;
  text-align: center;
  background-color: var(--base-violet-70); /* 배경색 */
  color: #fff; /* 텍스트 색상 */
}

.card {
  position: relative;
  left: 20px;
  border-radius: 12px;
  padding: 2rem;
  display: flex;
  flex-direction: row-reverse; /* 사진을 오른쪽으로 */
  align-items: center;
}

.image_placeholder {
  cursor: pointer;
  border: 8px solid var(--base-violet-90);
  object-fit: contain;
  position: relative;
  right: 40px;
  width: 400px;
  height: 400px;
  background-color: #000;
  border-radius: 20px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.7);
}

/* 텍스트 컨테이너 */
.text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 5rem 2rem 3rem;
  width: 350px;
  height: 350px;
  border-radius: 20px;
  text-align: left;
  background-color: var(--base-violet-90);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.7);
}

.card_title {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.card_description {
  font-size: 1.4rem;
  color: #cfcfcf;
}

.image_placeholder {
  transition: opacity 0.3s ease;
}

.hidden {
  opacity: 0;
}

.image_skeleton {
  z-index: 10;
  position: absolute;
  right: 60px;
  width: 400px;
  height: 400px;
  background: linear-gradient(
    90deg,
    rgba(240, 240, 240, 1) 25%,
    rgba(220, 220, 220, 1) 50%,
    rgba(240, 240, 240, 1) 75%
  );
  background-size: 300% 100%; /* 더 부드럽게 움직이도록 설정 */
  animation: shimmer 1.2s ease-in-out infinite;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 살짝 떠 보이는 효과 */
}

@keyframes shimmer {
  0% {
    background-position: -150% 0;
  }
  100% {
    background-position: 150% 0;
  }
}

/* 반응형 설정 */
@media (max-width: 880px) {
  .card {
    padding: 2rem;
    padding-bottom: 0;
    left: 0;
    flex-direction: column; /* 사진 위, 텍스트 아래 */
    text-align: center;
  }

  .image_skeleton {
    right: 20px;
    width: 430px;
    height: 430px;
  }

  .card_title {
    text-align: center;
  }

  .image_placeholder {
    left: 0px;
    width: 430px;
    height: 430px;
    margin-bottom: 20px;
  }

  .text_container {
    position: relative;
    bottom: 20px;
    padding: 2rem;
    align-items: center;
    width: 430px;
    height: auto; /* 높이 조정 */
  }

  .card_description {
    padding-left: 3rem;
    margin-top: 10px; /* 텍스트 간격 조정 */
  }
}

@media (max-width: 570px) {
  .image_skeleton,
  .image_placeholder {
    width: 300px;
    height: 300px;
  }

  .text_container {
    width: 300px;
  }
}

.tooltip {
  position: fixed;
  padding: 8px 12px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 8px;
  font-size: 1.1rem;
  pointer-events: none; /* 마우스 이벤트 방지 */
  white-space: nowrap;
  z-index: 1000;
  transform: translate(-50%, -50%);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}
.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
