:root {
  --base-violet-10: #f0f1ff;
  --base-violet-20: #d1d1f7;
  --base-violet-90: #2b1c50;
  --base-violet-70: #3d2e7c;
  --text-light: #ffffff;
  --text-dark: #212121;
  --card-bg: #ececff;
  --border-color: #b8b8ff;

  --font-size-small: 12px;
  --font-size-base: 16px;
  --font-size-large: 20px;

  --spacing-small: 8px;
  --spacing-base: 16px;
  --spacing-large: 24px;

  --font-family-base: "Pretendard", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: var(--font-family-base), sans-serif; /* 기본 폰트 설정 */
  min-width: 320px;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 스크롤바 스타일 (크롬/엣지) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--base-violet-70);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--base-violet-90);
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.section_title {
  font-size: 4rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  gap: 10px;
  margin-bottom: 20px;
}

@font-face {
  font-family: "양진체";
  src: url("https://fastly.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.font_yang {
  font-family: "양진체", Pretendard;
}
